table th,
table td {
    border: 1px solid #000;
}

table {
    border-collapse: collapse;
}

.table-striped {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}

.table-striped tr {
    background-color: #f2f2f2;
}

.table-striped tr:nth-child(even)

/*tr:nth-child(even): esse comando diz que nas tabelas impares utiliza determinado estilo*/
    {
    background-color: #605757;
}